// resources/sass/_variables.scss

// 1. Your brand colors
$blue-avelar: #2A55A3;
$orange-avelar: #F58634;
$pink-custom: #ff69b4;

// $primary: $blue-avelar;
// $secondary: $pink-custom;
$success: #198754;

$font-family-sans-serif: 'Nunito', sans-serif;
$border-radius: 0.5rem;
